.idea
cmake-build-debug
server/build
zappy_server
zappy_server_tests
graphic/build
zappy_gui
zappy_ai
*.log
*.a
*.o
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.dSYM
*.gcno
*.gcda
*.gcov
build
